{{include ("elements/header.html")}}

<div class="gsoa-page-main-container bg-black min-h-screen text-white">
    <div class="gsoa-page-container-inner max-w-xl mx-auto py-16">
        <h1 class="gsoa-page-title font-extrabold text-5xl mb-5 text-accent">Datenschutz</h1>
        <div class="article__paragraph">
            <p>Redaktion: Gruppe für eine Schweiz ohne Armee, Postfach, 8031 Zürich.</p>
            <p>Konzept, Design und Programmierung:&nbsp;<a href="mailto:timothy@kpunkt.ch" class="font-extrabold underline text-accent">Timothy@K.</a></p>
            <p>Die Inhalte der Seite stammen, wo nicht anders angegeben, von der GSoA. Abdruck und Weiterverarbeitung sind willkommen. Um Quellenangabe wird gebeten.</p>
            <p>Da wir die verlinkten Seiten nicht kontrollieren können, übernehmen wir keine rechtliche Verantwortung für deren Inhalt.</p>
            <p>&nbsp;</p>
            <p>Die GSoA nimmt teilweise den Dienst von Drittanbietern in Anspruch. Wir übermitteln ihnen, wenn notwenig, personenbezogene Daten. Nach Möglichkeit arbeiten wir mit Anbietern in der Schweiz zusammen.</p>
            <p>Mit folgenden Anbietern arbeiten wir zusammen:</p>
            <ul>
            <li>Druckereien: Übermittlung von Adressdaten der EmpfängerInnen für Brief- und Zeitungsversände</li>
            <li>MailChimp (Newsletterversand): MailChimp wird von einer Vielzahl von Organisationen genutzt und ist der Marktführer beim Versand von Newslettern. MailChimp ist durch das Swiss-U.S Privacy Shield Framework zertifiziert. Mehr Informationen zu Mailchimp finden sich hier.</li>
            </ul>
            <p>Die Liste der Drittanbieter kann durch die GSoA stillschweigend angepasst werden, falls durch den neuen Drittanbieter der Datenschutz besser oder gleichwertig zu den bestehenden Anbietern gewährleistet werden kann. Die GSoA wird die personenbezogenen Daten in jedem Falle nur für den Zweck bearbeiten und verwenden, dem Sie zugestimmt haben, nämlich um Sie auf dem laufenden zu halten.</p>
            <p>Für Fragen im Zusammenhang mit unserer Datenschutz-Policy stehen wir unter <a href="mailto:gsoa@gsoa.ch">gsoa@gsoa.ch</a> gerne zur Verfügung.</p>
        </div>
    </div>
</div>


{{include ("elements/footer.html")}}