{{include ("elements/header.html")}}

<div class="gsoa-fp-outer h-screen w-screen overflow-x-auto overflow-y-hidden bg-background">
    <div class="gsoa-fp-inner flex h-full">
        <div class="gsoa-fp-intro-wrapper gsoa-fp-screen flex">
            {% include ("elements/intro.html") with {"content" : config.static.intro} %}
            {% include ("elements/scale.html") with {"scale" : config.scale} only %}
        </div>
        <div class="gsoa-fp-screen gsoa-fp-chart h-full flex flex-col">
            {% include ("elements/chart/upper.html") %}
            {% include ("elements/chart/mid.html") %}
            {% include ("elements/chart/lower.html") %}
        </div>
        <div class="gsoa-fp-outro-wrapper gsoa-fp-screen flex">
            {% include ("elements/outro.html") with {"content" : config.static.outro} %}
        </div>
    </div>
</div>

{{include ("elements/footer.html")}}