@font-face {
    font-family: 'NeueMachina';
    font-weight: 300;
    src: url('./fonts/PPNeueMachina-InktrapLight.woff2') format('woff2'),
        url('./fonts/PPNeueMachina-InktrapLight.woff') format('woff');
}

@font-face {
    font-family: 'NeueMachina';
    font-weight: 300;
    font-style: italic;
    src: url('./fonts/PPNeueMachina-InktrapLightItalic.woff2') format('woff2'),
        url('./fonts/PPNeueMachina-InktrapLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'NeueMachina';
    font-weight: 400;
    src: url('./fonts/PPNeueMachina-InktrapRegular.woff2') format('woff2'),
        url('./fonts/PPNeueMachina-InktrapRegular.woff') format('woff');
}

@font-face {
    font-family: 'NeueMachina';
    font-weight: 400;
    font-style: italic;
    src: url('./fonts/PPNeueMachina-InktrapRegularItalic.woff2') format('woff2'),
        url('./fonts/PPNeueMachina-InktrapRegularItalic.woff') format('woff');
}



@font-face {
    font-family: 'NeueMachina';
    font-weight: 800;
    src: url('./fonts/PPNeueMachina-InktrapUltrabold.woff2') format('woff2'),
        url('./fonts/PPNeueMachina-InktrapUltrabold.woff') format('woff');
}

@font-face {
    font-family: 'NeueMachina';
    font-weight: 800;
    font-style: italic;
    src: url('./fonts/PPNeueMachina-InktrapUltraboldItalic.woff2') format('woff2'),
        url('./fonts/PPNeueMachina-InktrapUltraboldItalic.woff') format('woff');
}