<!DOCTYPE html>
<html lang="de-CH">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{page.title}} | Aufgerüstet in die Krise</title>
    <meta name="title" content="{{page.title}}">
    <meta name="description" content="{{page.description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{environment.appurl}}/{{page.slug}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{page.OG}}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{environment.appurl}}/{{page.slug}}">
    <meta property="twitter:title" content="{{page.title}}">
    <meta property="twitter:description" content="{{page.description}}">
    <meta property="twitter:image" content="{{page.OG}}">
    {#
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{environment.appurl}}/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{environment.appurl}}/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{environment.appurl}}/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{environment.appurl}}/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{environment.appurl}}/assets/images/favicon/safari-pinned-tab.svg" color="#034663">
    <link rel="shortcut icon" href="{{environment.appurl}}/assets/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#9bbccb">
    <meta name="msapplication-config" content="{{environment.appurl}}/assets/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#04587C"> #}
    <link rel="stylesheet" href="{{environment.appurl}}/dist/bundle.min.css?v={{environment.version}}">
</head>

<body>
    <div id="main-content">