<div class="gsoa-fp-outro-inner overflow-y-auto">
    <div class=" gsoa-fp-outro h-full p-8 text-white relative">
        <div class="gsoa-fp-outro-content">
            <h1 class="text-5xl font-extrabold mb-4">{{content.title}}</h1>
            <div class="gsoa-fp-outro-content mb-4">
                <p>{{content.text}}</p>
            </div>
            <h2 class="text-3xl font-extrabold mt-8">Aide nous !</h2>
            <p class="text-sm">Nous avons lancé une lettre ouverte pour empêcher l'augmentation insensée du budget de l'armée. Aide en participant en signant la pétition :</p>
            <a href="https://non-sens.ch/"
                class="gsoa-button gsoa-petition-button w-full flex justify-center items-center p-2 bg-accent mt-4 font-extrabold gap-x-2"
                target="_blank">Je signe<i data-feather="edit" class="h-5 w-5"></i></a>
            <p class="text-sm mt-6">Tu as des ami·e·s ? Alors parle-leur de cette page !</p>
            {% set sharetext = "Hey👋\n\n💰La majorité bourgeoise du Parlement veut faire passer le budget de l'armée de 5,2 à 1,5 milliard de francs d'ici 2030. 9,4 milliards de francs. Ce presque doublement des dépenses de l'armée n'est pas possible sans une augmentation massive des effectifs. Les coupes dans l'éducation, la protection du climat et la santé - des domaines essentiels pour la sécurité et la santé publique - ont été effectuées.\n\nAide-nous à montrer combien d'argent est injecté dans l'armée sans aucune planification, en partageant ce message avec ton entourage.💥"|url_encode %}
            {% set twittertext = "💰Les bourgeois veulent augmenter le budget de l'armée à 9,4 milliards d'ici 2030. Ce presque doublement des dépenses de l'armée n'est pas possible sans des coupes massives dans la formation, la protection du climat et le système de santé.\n\nRegarde par toi-même :\n"|url_encode %}
            <div class="gsoa-fp-some-share flex flex-wrap gap-2 mt-2 pb-8" data-sharetext="{{ sharetext }}"
                data-twittertext="{{twittertext}}">
                <a href="#" class="gsoa-fp-some-share-button" data-sharetype="whatsapp">Partage sur WhatsApp <i
                        data-si="whatsapp"></i></a>
                <a href="#" class="gsoa-fp-some-share-button" data-sharetype="telegram">Partage sur Telegram <i
                        data-si="telegram"></i></a>
                <a href="#" class="gsoa-fp-some-share-button" data-sharetype="facebook">Partage sur Facebook <i
                        data-si="facebook"></i></a>
                <a href="#" class="gsoa-fp-some-share-button" data-sharetype="twitter">Partage sur Twitter <i
                        data-si="twitter"></i></a>
            </div>
        </div>
    </div>
</div>
