<div class="gsoa-fp-chart-partial gsoa-fp-chart-lower">
    <div class="gsoa-fp-chart-counter w-screen px-4 py-1 sticky top-0 left-0 text-white">
        <p class="gsoa-fp-chart-counter-number text-sm italic mb-8 opacity-0 transition-opacity duration-500">0CHF</p>
        <div
            class="gsoa-fp-progressbar w-full h-6 outline-accent outline rounded-full flex relative">
            <div class="gsoa-fp-progressbar-inner bg-accent rounded-full"
                style="width: 0%;"></div>
            <p class="absolute top-1/2 left-1/2 text-accent italic text-sm mix-blend-difference" style="transform: translate(-50%, -50%);">0%</p>
        </div>
        <a class="gsoa-fp-chart-jumper w-full text-center italic mt-6 text-xs underline text-accent opacity-0 transition-opacity duration-500 cursor-pointer block">Zum Ende springen</a>
    </div>
</div>